<style>
    .add-to-cart-button {
        background-color: {{ section.settings.button_background }};
        color: {{ section.settings.button_label }};
        border: none;
        border-radius: 3px;
        padding: 15px;
        font-size: {{ section.settings.button_font_size }}px;
        font-weight: {{ section.settings.button_font_weight }};
        font-family: Montserrat;
        cursor: pointer;
        width: 100%;
        margin-top: 16px;
    }

    .add-to-cart-button:hover {
        background-color: #002eff;
    }
</style>

{% form 'product', product, id: "product-form" %}
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
  <input type="number" name="quantity" value="1" min="1" hidden>
  <button type="submit" name="add" class="add-to-cart-button">
    {{ section.settings.button_text }}
  </button>
{% endform %}